.game-container {
	.code-container {
		width: 1000px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		height: 100%;
		color: #fff;
		background: #2d2d2d;
		user-select: none;

		@media screen and (max-width: 1440px) {
			margin: 0 32px;
		}

		.tokens-container {
			.token {
				position: absolute;
				width: 10px;
				height: 24px;

				// background: #fff;
				// color: #fff !important;
				// border: 1px solid #fff;
			}
		}
	}
}
