* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	background: #1E1E1E;
	height: 100%;
}

#root {
	height: 100%;
}

.app {
	height: 100%;
}

.code-container {
	width: 1000px;
	margin: 0 auto;
	height: 100%;

	pre {
		white-space: pre-wrap;
		margin: 0;
		height: 100%;

		code {
			overflow: hidden;
			height: 100%;
		}
	}
}
